.aboutHome{
    height: auto;
}

.aboutHome #heading{
    text-align: left;
    padding:0;

}
.aboutHome .left img{

    width: 90%;
    height: 100%;
    object-fit: cover;
}
.aboutHome .right{
    padding: 80px 50px;

}
.aboutHome .items{
    margin-top: 50px;
}

.aboutHome .item{
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    transition: 0.5sec;
}
.aboutHome .img{

    width: 200px;
    
}
.aboutHome img{
    width: 70px;
    height: 70px;
}
.aboutHome .item h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.aboutHome .item:hover{
    background-color: pink;
    color: black;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px black ;
}
.awrapper{
    background-image: url("../../../public/Images/awbg3.jpeg");
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   height: 30vh;
   /* color: white; */
}
.awrapper .box{
    padding: 70px 0;
    color: white;
}
.awrapper img{
    margin-right: 30px;
    
}
.awrapper h1{
    font-size: 50px;
}
.awrapper h3{
    font-size: 20px;
    font-weight: 500;
}
.back{

    /* background-image: url("../public/Images/bg2.jpeg"); */
    background-image: url("../../../public/Images/aboutdum.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    padding-right: 50px;
    /* color: white; */
    color: black;
    text-align: center;

} 


@media  screen and (max-width:768px){
    .aboutHome{
        margin-top: 80%;
    }
    .aboutHome .container{
        flex-direction: column-reverse;
    }
    .aboutHome .row{
        width: 100%;
    }
    .awrapper{
        height: 50vh;
    }
}